Package: spring-batch-admin-geoknow
Version: 0.0.2
Section: web
Priority: optional
Architecture: all
Maintainer: Alejandra Garcia-Rojas M <alejandra.garciarojas@ontos.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/GeoKnow/spring-batch-admin
#Vcs-Git: git://git.debian.org/collab-maint/spring-batch-admin-geoknow.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/spring-batch-admin-geoknow.git;a=summary
Package: spring-batch-admin-geoknow
Depends: tomcat7
Description: This is an adapted version of spring-batch admin 
 that is used by the GeoKnow Generator Dashboard. 
 Processes in the generator can be executed as batch processes
 thus the user can track their status.
